  <div id="backColor">
	  <div id="title-space">
		  <h1>{{title}}</h1>
		  <h2>the synesthetic video chat</h2>
		  <h2>to visualize feelings</h2>
	  </div>
	  <div id="waiting">Connecting to chat server...</div>
	  <div id="second_counter"></div>
	  <div id="background-video"></div>
	  <div id="conversation"></div>
	  <div id="submission">
	    <input id="inputbox" type="text" placeholder="how are you feeling...">
	  </div>
	  <canvas id="sourcecopy" width="640" height="360"></canvas>
	  <div id="webcam_stream"></div>
	<div id="video_container"></div>
	<div id="overlay"></div>
</div>